<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(<%= asset_path 'breadcumb3.jpg' %>);">
    <div class="bradcumbContent">
        <p>Bienvenu sur l espace</p>
        <h2>ADMINISRATEUR</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->


<!-- ##### Login Area Start ##### -->
<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <h3>Envoyer de nouveau les informations de connexion</h3>
                    <!-- ##### Alert Area Start ##### -->
                    <%= devise_error_messages! %>
                    <%= render 'layouts/messages' %>
                    <!-- ##### Alert Area End ##### -->
                    <!-- Login Form -->
                    <div class="login-form">
                      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
                        <%= render "devise/shared/error_messages", resource: resource %>
                        <div class="form-group">
                          <%= f.label :email %><br />
                          <%= f.email_field :email, class:"form-control", placeholder:"Entrer votre adresse mail", autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
                        </div>
                        <%= button_tag( :class => "btn oneMusic-btn mt-30") do %>
                          Envoyer les informations de connexion <i class="fa fa-angle-double-right"></i>
                        <% end %>
                      <% end %>
                    <%= render "devise/shared/links" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Login Area End ##### -->