<!-- ##### Breadcumb Area Start ##### -->
<%= render 'devise/breadcumb' %>
<!-- ##### Breadcumb Area End ##### -->


<!-- ##### Login Area Start ##### -->
<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <h3>Modifier <%= resource_name.to_s.humanize %></h3>
                    <!-- ##### Alert Area Start ##### -->
                    <%= devise_error_messages! %>
                    <%= render 'layouts/messages' %>
                    <!-- ##### Alert Area End ##### -->
                    <!-- Login Form -->
                    <div class="login-form">
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                      <%= render "devise/shared/error_messages", resource: resource %>

                      <div class="form-group">
                        <%= f.label :email %><br />
                        <%= f.email_field :email, class:"form-control", placeholder:"Entrer votre adresse mail", autocomplete:"email" ,autofocus: true %>
                        <small id="emailHelp" class="form-text text-muted"><i class="fa fa-lock mr-2"></i>Toutes vos données de connexion resterons confidentielles</small>
                      </div>

                      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                      <% end %>

                      <div class="form-group">
                        <%= f.label :password %> <i>(n'écrivez rien ici si vous ne voulez pas le changer)</i><br />
                        <%= f.password_field :password, autocomplete: "nouveau mot de passe", class:"form-control" %>
                        <% if @minimum_password_length %>
                          <br />
                          <em><%= @minimum_password_length %> caractères minimum</em>
                        <% end %>
                      </div>

                      <div class="form-group">
                        <%= f.label :password_confirmation %><br />
                        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Confirmer votre mot de passe" %>
                      </div>

                      <div class="form-group">                          
                        <%= f.label :current_password %> <i>(saisissez votre mot de passe pour confirmer vos modifications)</i><br />
                        <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
                      </div>

                      <%= button_tag( :class => "btn oneMusic-btn mt-30") do %>
                        Sauvegarder les modifications <i class="fa fa-angle-double-right"></i>
                      <% end %>

                    <% end %>

                    <h3>Cancel my account</h3>
                    <p>Vous souhaitez nous quitter ? <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Etes-vous sur ?" }, method: :delete %></p>
                    <%= link_to "Back", :back %>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Login Area End ##### -->