<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(<%= asset_path 'hall2.jpg' %>);">
    <div class="bradcumbContent">
        <p>Ce que je sais chanter</p>
        <h2>Répertoire</h2>
    </div>
</section>

<!-- ##### Blog Area Start ##### -->
<div class="blog-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9">
            <% @categories.each do |category| %>
                <!-- Single Post Start -->
                <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="100ms">
                    <!-- Blog Content -->
                    <div class="blog-content">
                        <!-- Post Title -->
                        <div class="post-title">
                            <h3> <%=category.name%> </h3>
                        </div>
                        <!-- Post Excerpt -->
                        <% @repertoires.where(category: category.id).each do |repertoire| %>
                            <p><strong><%=repertoire.title%>(<%=repertoire.composer%>) :</strong> <%=repertoire.role%></p><br />
                        <% end %>
                    </div>
                </div>
            <% end %>
            </div> 

            <%= render 'staticpage/sidebar' %>

        </div>
    </div>
</div>
<!-- ##### Blog Area End ##### -->