<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(<%= asset_path 'breadcumb3.jpg' %>);">
    <div class="bradcumbContent">
        <p>Me reconnaitre</p>
        <h2>Gallerie</h2>
    </div>
</section>


<!-- ##### Album Catagory Area Start ##### -->
<section class="album-catagory section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="browse-by-catagories catagory-menu d-flex flex-wrap align-items-center mb-70">
                    <a href="#" data-filter="*">Browse All</a>
                    <a href="#" data-filter=".a" class="active">A</a>
                    <a href="#" data-filter=".b">B</a>
                    <a href="#" data-filter=".c">C</a>
                    <a href="#" data-filter=".d">D</a>
                    <a href="#" data-filter=".e">E</a>
                    <a href="#" data-filter=".f">F</a>
                    <a href="#" data-filter=".g">G</a>
                    <a href="#" data-filter=".h">H</a>
                    <a href="#" data-filter=".i">I</a>
                    <a href="#" data-filter=".j">J</a>
                    <a href="#" data-filter=".k">K</a>
                    <a href="#" data-filter=".l">L</a>
                    <a href="#" data-filter=".m">M</a>
                    <a href="#" data-filter=".n">N</a>
                    <a href="#" data-filter=".o">O</a>
                    <a href="#" data-filter=".p">P</a>
                    <a href="#" data-filter=".q">Q</a>
                    <a href="#" data-filter=".r">R</a>
                    <a href="#" data-filter=".s">S</a>
                    <a href="#" data-filter=".t">T</a>
                    <a href="#" data-filter=".u">U</a>
                    <a href="#" data-filter=".v">V</a>
                    <a href="#" data-filter=".w">W</a>
                    <a href="#" data-filter=".x">X</a>
                    <a href="#" data-filter=".y">Y</a>
                    <a href="#" data-filter=".z">Z</a>
                    <a href="#" data-filter=".number">0-9</a>
                </div>
            </div>
        </div>

        <div class="row oneMusic-albums">

            <!-- Single Album -->
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item t c p">
                <div class="single-album">
                    <%= image_tag "a1.jpg" %>
                    <div class="album-info">
                        <a href="#">
                            <h5>The Cure</h5>
                        </a>
                        <p>Second Song</p>
                    </div>
                </div>
            </div>

            <!-- Single Album -->
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item s e q">
                <div class="single-album">
                    <%= image_tag "a2.jpg" %>
                    <div class="album-info">
                        <a href="#">
                            <h5>Sam Smith</h5>
                        </a>
                        <p>Underground</p>
                    </div>
                </div>
            </div>

            <!-- Single Album -->
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item w f r">
                <div class="single-album">
                    <%= image_tag "a3.jpg" %>
                    <div class="album-info">
                        <a href="#">
                            <h5>Will I am</h5>
                        </a>
                        <p>First</p>
                    </div>
                </div>
            </div>

            <!-- Single Album -->
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item t g u">
                <div class="single-album">
                    <%= image_tag "a4.jpg" %>
                    <div class="album-info">
                        <a href="#">
                            <h5>The Cure</h5>
                        </a>
                        <p>Second Song</p>
                    </div>
                </div>
            </div>

            <!-- Single Album -->
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item d h v">
                <div class="single-album">
                    <%= image_tag "a5.jpg" %>
                    <div class="album-info">
                        <a href="#">
                            <h5>DJ SMITH</h5>
                        </a>
                        <p>The Album</p>
                    </div>
                </div>
            </div>

            <!-- Single Album -->
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item t i x">
                <div class="single-album">
                    <%= image_tag "a6.jpg" %>
                    <div class="album-info">
                        <a href="#">
                            <h5>The Ustopable</h5>
                        </a>
                        <p>Unplugged</p>
                    </div>
                </div>
            </div>

            <!-- Single Album -->
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item b j y">
                <div class="single-album">
                    <%= image_tag "a7.jpg" %>
                    <div class="album-info">
                        <a href="#">
                            <h5>Beyonce</h5>
                        </a>
                        <p>Songs</p>
                    </div>
                </div>
            </div>

            <!-- Single Album -->
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item a k z">
                <div class="single-album">
                    <%= image_tag "a8.jpg" %>
                    <div class="album-info">
                        <a href="#">
                            <h5>Aam Smith</h5>
                        </a>
                        <p>Underground</p>
                    </div>
                </div>
            </div>

            <!-- Single Album -->
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item w l number">
                <div class="single-album">
                    <%= image_tag "a9.jpg" %>
                    <div class="album-info">
                        <a href="#">
                            <h5>Will I am</h5>
                        </a>
                        <p>First</p>
                    </div>
                </div>
            </div>

            <!-- Single Album -->
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item d m">
                <div class="single-album">
                    <%= image_tag "a10.jpg" %>
                    <div class="album-info">
                        <a href="#">
                            <h5>DJ SMITH</h5>
                        </a>
                        <p>The Album</p>
                    </div>
                </div>
            </div>

            <!-- Single Album -->
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item t n">
                <div class="single-album">
                    <%= image_tag "a11.jpg" %>
                    <div class="album-info">
                        <a href="#">
                            <h5>The Ustopable</h5>
                        </a>
                        <p>Unplugged</p>
                    </div>
                </div>
            </div>

            <!-- Single Album -->
            <div class="col-12 col-sm-4 col-md-3 col-lg-2 single-album-item b o">
                <div class="single-album">
                    <%= image_tag "a12.jpg" %>
                    <div class="album-info">
                        <a href="#">
                            <h5>Beyonce</h5>
                        </a>
                        <p>Songs</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ##### Album Catagory Area End ##### -->

<div class="site-wrap">  

<div class="swiper-container gallery-top">
  <div class="swiper-wrapper">
    <div class="swiper-slide cover" style="background-image: url('images/img_1.jpg');">
      <a href="images/img_1.jpg" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
      <div class="img-info">
        <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
        <div class="img-info-content">
          <h2>Image Title Here</h2>
          <div class="scrollbar-inner style-scrollbar-sm js-scrollbar-container">
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur facilis architecto deserunt doloribus, nisi placeat quas ratione perferendis? Placeat aliquid assumenda, odio numquam vero eveniet fugit blanditiis dolorum laudantium voluptatibus!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-slide cover" style="background-image: url('images/img_2.jpg');">
      <a href="images/img_2.jpg" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
      <div class="img-info">
        <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
        <div class="img-info-content">
          <h2>Image Title Here 2</h2>
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
        </div>
      </div>
    </div>

    <div class="swiper-slide cover" style="background-image: url('images/img_3.jpg');">
      <a href="images/img_3.jpg" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
      <div class="img-info">
        <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
        <div class="img-info-content">
          <h2>Image Title Here 3</h2>
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
        </div>
      </div>
    </div>

    <div class="swiper-slide cover" style="background-image: url('images/img_4.jpg');">
      <a href="images/img_4.jpg" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
      <div class="img-info">
        <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
        <div class="img-info-content">
          <h2>Image Title Here 4</h2>
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
        </div>
      </div>
    </div>

    <div class="swiper-slide cover" style="background-image: url('images/img_5.jpg');">
      <a href="images/img_5.jpg" data-fancybox="gallery" class="zoom"><span class="icon-search"></span></a>
      <div class="img-info">
        <span class="btn-toggle-expand"><span class="icon-call_made"></span></span>
        <div class="img-info-content">
          <h2>Image Title Here 5</h2>
          <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, ipsam, illo dolorum laboriosam voluptatum laudantium.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="swiper-button-next swiper-button-white"></div>
  <div class="swiper-button-prev swiper-button-white"></div>

</div>

  <div class="swiper-container gallery-thumbs">
    <div class="swiper-wrapper">
        <div class="swiper-slide cover" style="background-image:url(images/img_1.jpg)"></div>
        <div class="swiper-slide cover" style="background-image:url(images/img_2.jpg)"></div>
        <div class="swiper-slide cover" style="background-image:url(images/img_3.jpg)"></div>
        <div class="swiper-slide cover" style="background-image:url(images/img_4.jpg)"></div>
        <div class="swiper-slide cover" style="background-image:url(images/img_5.jpg)"></div>
        <div class="swiper-slide cover" style="background-image:url(images/img_6.jpg)"></div>
        <div class="swiper-slide cover" style="background-image:url(images/img_7.jpg)"></div>
        <div class="swiper-slide cover" style="background-image:url(images/img_8.jpg)"></div>
        <div class="swiper-slide cover" style="background-image:url(images/img_9.jpg)"></div>
        <div class="swiper-slide cover" style="background-image:url(images/img_10.jpg)"></div>
        <div class="swiper-slide cover" style="background-image:url(images/img_1.jpg)"></div>
        <div class="swiper-slide cover" style="background-image:url(images/img_2.jpg)"></div>
        <div class="swiper-slide cover" style="background-image:url(images/img_3.jpg)"></div>
        <div class="swiper-slide cover" style="background-image:url(images/img_4.jpg)"></div>
        <div class="swiper-slide cover" style="background-image:url(images/img_5.jpg)"></div>
        <div class="swiper-slide cover" style="background-image:url(images/img_6.jpg)"></div>
        <div class="swiper-slide cover" style="background-image:url(images/img_7.jpg)"></div>
        <div class="swiper-slide cover" style="background-image:url(images/img_8.jpg)"></div>
        <div class="swiper-slide cover" style="background-image:url(images/img_9.jpg)"></div>
        <div class="swiper-slide cover" style="background-image:url(images/img_10.jpg)"></div>
    </div>
  </div>

</div>
<!-- .site-wrap -->