<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(<%= asset_path 'curtain.jpg' %>);">
    <div class="bradcumbContent" style="background: rgba(0, 0, 0, 0.0)">
        <p>Me reconnaitre</p>
        <h2>Gallerie</h2>
    </div>
</section> 

<!-- ##### Elements Area Start ##### -->
<section class="blog-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12">
                <!-- ##### Mariage Forcé Area Start ##### -->
                <div class="accordions mb-50" id="accordion" role="tablist" aria-multiselectable="true">     
                    <div class="panel single-accordion" style="background: transparent">
                        <h6 style="background: white">
                            <a role="button" class="collapsed" aria-expanded="true" aria-controls="collapseOne" data-parent="#accordion" data-toggle="collapse" href="#collapseOne">Le Mariage Forcé
                                    <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                    <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                    </a>
                        </h6>

                        <div id="collapseOne" class="accordion-content collapse show">
                            <div class="col-12">
                                <!-- Images Area Start -->
                                <div class="row pt-5">
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('anthony_mariage.jpg', class: 'zoom img-fluid'), asset_path("anthony_mariage.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('Le mariage forcé.jpg', class: 'zoom img-fluid'), asset_path("Le mariage forcé.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('Le mariage forcé (2).jpg', class: 'zoom img-fluid'), asset_path("Le mariage forcé (2).jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('mar4.jpg', class: 'zoom img-fluid'), asset_path("mar4.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('mar5.jpg', class: 'zoom img-fluid'), asset_path("mar5.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>

                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('mariage_scene.jpg', class: 'zoom img-fluid'), asset_path("mariage_scene.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">
                                            <div class="album-thumb">
                                                <%= image_tag('mariage_scene.jpg', class: 'zoom img-fluid') %>
                                                <!-- Play Icon -->
                                                <div class="play-icon">
                                                    <%= content_tag(:a, content_tag(:span,"", class: "icon-play-button"), href:"https://www.youtube.com/watch?v=FcCMtgzqG_c", class: "video--play--btn") %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Images Area End -->
                            </div>                                    
                        </div>
                    </div>
                </div>
                <!-- ##### Mariage Forcé Area End ##### -->


                <!-- ##### Le Ruisseau Noir Area End ##### -->
                <div class="accordions mb-50" id="accordion" role="tablist" aria-multiselectable="true">     
                    <div class="panel single-accordion" style="background: transparent">
                        <h6 style="background: white">
                            <a role="button" class="collapsed" aria-expanded="true" aria-controls="collapseTwo" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo">Le Ruisseau Noir
                                    <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                    <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                    </a>
                        </h6>
                        <div id="collapseTwo" class="accordion-content collapse show">
                            <div class="col-12">
                                <!-- Images Area Start -->
                                <div class="row pt-5">
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('Le Ruisseau Noir.jpg', class: 'zoom img-fluid'), asset_path("Le Ruisseau Noir.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('Le Ruisseau Noir ©CaroleParodi-5343.jpg', class: 'zoom img-fluid'), asset_path("Le Ruisseau Noir ©CaroleParodi-5343.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('Le Ruisseau Noir ©CaroleParodi-5374.jpg', class: 'zoom img-fluid'), asset_path("Le Ruisseau Noir ©CaroleParodi-5374.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('Le Ruisseau Noir ©CaroleParodi-5403.jpg', class: 'zoom img-fluid'), asset_path("Le Ruisseau Noir ©CaroleParodi-5403.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('Le Ruisseau Noir ©CaroleParodi-5410.jpg', class: 'zoom img-fluid'), asset_path("Le Ruisseau Noir ©CaroleParodi-5410.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('Le Ruisseau Noir ©CaroleParodi-5416.jpg', class: 'zoom img-fluid'), asset_path("Le Ruisseau Noir ©CaroleParodi-5416.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                </div>
                                <!-- Images Area End -->
                            </div>                                    
                        </div>
                    </div>
                </div>
                <!-- ##### Le Ruisseau Noir Area End ##### -->


                <!-- ##### Die Dreigroschenoper Area Start ##### -->
                <div class="accordions mb-50" id="accordion" role="tablist" aria-multiselectable="true">     
                    <div class="panel single-accordion" style="background: transparent">
                        <h6 style="background: white">
                            <a role="button" class="collapsed" aria-expanded="true" aria-controls="collapseThree" data-parent="#accordion" data-toggle="collapse" href="#collapseThree">Die Dreigroschenoper
                                    <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                    <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                    </a>
                        </h6>
                        <div id="collapseThree" class="accordion-content collapse show">
                            <div class="col-12">
                                <!-- Images Area Start -->
                                <div class="row pt-5">
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('Die Dreigroschenoper (2).png', class: 'zoom img-fluid'), asset_path("Die Dreigroschenoper (2).png"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('Die Dreigroschenoper (4).png', class: 'zoom img-fluid'), asset_path("Die Dreigroschenoper (4).png"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('dreig.jpg', class: 'zoom img-fluid'), asset_path("dreig.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('dreig2.jpg', class: 'zoom img-fluid'), asset_path("dreig2.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('dreig3.jpg', class: 'zoom img-fluid'), asset_path("dreig3.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('dreig5.jpg', class: 'zoom img-fluid'), asset_path("dreig5.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('dreig6.jpg', class: 'zoom img-fluid'), asset_path("dreig6.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('dreig8.jpg', class: 'zoom img-fluid'), asset_path("dreig8.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                </div>
                                <!-- Images Area End -->
                            </div>                                    
                        </div>
                    </div>
                </div>
                <!-- ##### Die Dreigroschenoper Area End ##### -->


                <!-- ##### Rita Donizetti Area Start ##### -->
                <div class="accordions mb-50" id="accordion" role="tablist" aria-multiselectable="true">     
                    <div class="panel single-accordion" style="background: transparent">
                        <h6 style="background: white">
                            <a role="button" class="collapsed" aria-expanded="true" aria-controls="collapseFour" data-parent="#accordion" data-toggle="collapse" href="#collapseFour">Rita Donizetti
                                    <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                    <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                    </a>
                        </h6>
                        <div id="collapseFour" class="accordion-content collapse show">
                            <div class="col-12">
                                <!-- Images Area Start -->
                                <div class="row pt-5">
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('Rita Donizetti (3).jpg', class: 'zoom img-fluid'), asset_path("Rita Donizetti (3).jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('RITA Donizetti.jpg', class: 'zoom img-fluid'), asset_path("RITA Donizetti.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('RITA Donizetti (2).jpg', class: 'zoom img-fluid'), asset_path("RITA Donizetti (2).jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                </div>
                                <!-- Images Area End -->
                            </div>                                    
                        </div>
                    </div>
                </div>
                <!-- ##### Rita Donizetti Area End ##### -->


                <!-- ##### Rita Donizetti Area Start ##### -->
                <div class="accordions mb-50" id="accordion" role="tablist" aria-multiselectable="true">     
                    <div class="panel single-accordion" style="background: transparent">
                        <h6 style="background: white">
                            <a role="button" class="collapsed" aria-expanded="true" aria-controls="collapseFive" data-parent="#accordion" data-toggle="collapse" href="#collapseFive">Tristan Christophe Belletante
                                    <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                    <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                    </a>
                        </h6>
                        <div id="collapseFive" class="accordion-content collapse show">
                            <div class="col-12">
                                <!-- Images Area Start -->
                                <div class="row pt-5">
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('Tristan Christophe Belletante.jpg', class: 'zoom img-fluid'), asset_path("Tristan Christophe Belletante.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('Tristan Christophe Belletante (2).jpg', class: 'zoom img-fluid'), asset_path("Tristan Christophe Belletante (2).jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('Tristan Christophe Belletante (3).jpg', class: 'zoom img-fluid'), asset_path("Tristan Christophe Belletante (3).jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('Tristan Christophe Belletante (4).jpg', class: 'zoom img-fluid'), asset_path("Tristan Christophe Belletante (4).jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('Tristan Christophe Belletante (5).jpg', class: 'zoom img-fluid'), asset_path("Tristan Christophe Belletante (5).jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('Tristan Christophe Belletante (6).jpg', class: 'zoom img-fluid'), asset_path("Tristan Christophe Belletante (6).jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                </div>
                                <!-- Images Area End -->
                            </div>                                    
                        </div>
                    </div>
                </div>
                <!-- ##### Rita Donizetti Area End ##### -->


                <!-- ##### Weill Area Start ##### -->
                <div class="accordions mb-50" id="accordion" role="tablist" aria-multiselectable="true">     
                    <div class="panel single-accordion" style="background: transparent">
                        <h6 style="background: white">
                            <a role="button" class="collapsed" aria-expanded="true" aria-controls="collapseSix" data-parent="#accordion" data-toggle="collapse" href="#collapseSix">Weill
                                    <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                    <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                    </a>
                        </h6>
                        <div id="collapseSix" class="accordion-content collapse show">
                            <div class="col-12">
                                <!-- Images Area Start -->
                                <div class="row pt-5">
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('weill-1.jpg', class: 'zoom img-fluid'), asset_path("weill-1.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('Weill-2.jpg', class: 'zoom img-fluid'), asset_path("Weill-2.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('Weill-3.jpg', class: 'zoom img-fluid'), asset_path("Weill-3.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('Weill-4.jpg', class: 'zoom img-fluid'), asset_path("Weill-4.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('Weill-5.jpg', class: 'zoom img-fluid'), asset_path("Weill-5.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('Weill-6.jpg', class: 'zoom img-fluid'), asset_path("Weill-6.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('Weill-7.jpg', class: 'zoom img-fluid'), asset_path("Weill-7.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('Weill-8.jpg', class: 'zoom img-fluid'), asset_path("Weill-8.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('Weill-9.jpg', class: 'zoom img-fluid'), asset_path("Weill-9.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                </div>
                                <!-- Images Area End -->
                            </div>                                    
                        </div>
                    </div>
                </div>
                <!-- ##### Weill Area End ##### -->


                <!-- ##### Weill Area Start ##### -->
                <div class="accordions mb-50" id="accordion" role="tablist" aria-multiselectable="true">     
                    <div class="panel single-accordion" style="background: transparent">
                        <h6 style="background: white">
                            <a role="button" class="collapsed" aria-expanded="true" aria-controls="collapseSeven" data-parent="#accordion" data-toggle="collapse" href="#collapseSeven">Autres
                                    <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                    <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                    </a>
                        </h6>
                        <div id="collapseSeven" class="accordion-content collapse show">
                            <div class="col-12">
                                <!-- Images Area Start -->
                                <div class="row pt-5">
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('Coucou nous sommes tous des petits suisses dadaistes.jpg', class: 'zoom img-fluid'), asset_path("Coucou nous sommes tous des petits suisses dadaistes.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('IXème Symphonie Beethoven.jpg', class: 'zoom img-fluid'), asset_path("IXème Symphonie Beethoven.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                </div>
                                <!-- Images Area End -->
                            </div>                                    
                        </div>
                    </div>
                </div>
                <!-- ##### Weill Area End ##### -->
            </div>
        </div>
    </div>
</section>
<!-- ***** Elements Area End ***** -->