<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(<%= asset_path 'curtain.jpg' %>);">
    <div class="bradcumbContent" style="background: rgba(0, 0, 0, 0.1)">
        <p style="color: white; font-size: 20px">Me reconnaitre</p>
        <h1 style="font-size: 60px; color: white; margin-bottom : -38px; letter-spacing: 20px; text-transform: uppercase;">Gallerie</h1>
    </div>
</section> 


<!-- Page Content -->
<div class="container page-top">
    <div class="row">
        <!-- ##### Images Area Start ##### -->
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('anthony_mariage.jpg', class: 'zoom img-fluid'), asset_path("anthony_mariage.jpg"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('mar4.jpg', class: 'zoom img-fluid'), asset_path("mar4.jpg"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('mar5.jpg', class: 'zoom img-fluid'), asset_path("mar5.jpg"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('dreig2.jpg', class: 'zoom img-fluid'), asset_path("dreig2.jpg"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('dreig3.jpg', class: 'zoom img-fluid'), asset_path("dreig3.jpg"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('dreig5.jpg', class: 'zoom img-fluid'), asset_path("dreig5.jpg"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('dreig6.jpg', class: 'zoom img-fluid'), asset_path("dreig6.jpg"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('dreig8.jpg', class: 'zoom img-fluid'), asset_path("dreig8.jpg"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('dreig.jpg', class: 'zoom img-fluid'), asset_path("dreig.jpg"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('doni2.jpg', class: 'zoom img-fluid'), asset_path("doni2.jpg"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('doni.jpg', class: 'zoom img-fluid'), asset_path("doni.jpg"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('trist.jpg', class: 'zoom img-fluid'), asset_path("trist.jpg"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <!-- ##### Images Area End ##### -->

        <!-- ##### Vidéos Area Start ##### -->
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">
                <div class="album-thumb">
                    <%= image_tag('mariage_scene.jpg', class: 'zoom img-fluid') %>
                    <!-- Play Icon -->
                    <div class="play-icon">
                        <%= content_tag(:a, content_tag(:span,"", class: "icon-play-button"), href:"https://www.youtube.com/watch?v=FcCMtgzqG_c", class: "video--play--btn") %>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Vidéos Area End ##### -->
    </div>
</div>