
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">


<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(<%= asset_path 'breadcumb3.jpg' %>);">
    <div class="bradcumbContent">
        <p>Me reconnaitre</p>
        <h2>Gallerie</h2>
    </div>
</section> 


<!-- Page Content -->
<div class="container page-top">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('bg-1.jpg', class: 'zoom img-fluid'), asset_path("bg-1.jpg"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('bg-2.jpg', class: 'zoom img-fluid'), asset_path("bg-2.jpg"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('bg-3.jpg', class: 'zoom img-fluid'), asset_path("bg-3.jpg"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('bg-4.jpg', class: 'zoom img-fluid'), asset_path("bg-4.jpg"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('s1.jpg', class: 'zoom img-fluid'), asset_path("s1.jpg"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('s2.jpg', class: 'zoom img-fluid'), asset_path("s2.jpg"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('s3.jpg', class: 'zoom img-fluid'), asset_path("s3.jpg"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
 
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">
                <div class="album-thumb">
                    <%= image_tag('s1.jpg', class: 'zoom img-fluid') %>
                    <!-- Play Icon -->
                    <div class="play-icon">
                        <%= content_tag(:a, content_tag(:span,"", class: "icon-play-button"), href:"https://www.youtube.com/watch?v=FnLfsrjTFrQ", class: "video--play--btn") %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

