<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(<%= asset_path 'curtain.jpg' %>);">
    <div class="bradcumbContent">
        <p>Me reconnaitre</p>
        <h2>Gallerie</h2>
    </div>
</section> 


<!-- Page Content -->
<div class="container page-top">
    <div class="row">
        <!-- ##### Images Area Start ##### -->
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('anthony_mariage.jpg', class: 'zoom img-fluid'), asset_path("anthony_mariage.jpg"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('Le mariage forcé (4).jpg', class: 'zoom img-fluid'), asset_path("Le mariage forcé (4).jpg"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('Le mariage forcé (5).jpg', class: 'zoom img-fluid'), asset_path("Le mariage forcé (5).jpg"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('Die Dreigroschenoper (2).JPG', class: 'zoom img-fluid'), asset_path("Die Dreigroschenoper (2).JPG"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('Die Dreigroschenoper (2).png', class: 'zoom img-fluid'), asset_path("Die Dreigroschenoper (2).png"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('Die Dreigroschenoper (3).jpg', class: 'zoom img-fluid'), asset_path("Die Dreigroschenoper (3).jpg"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('Die Dreigroschenoper (3).png', class: 'zoom img-fluid'), asset_path("Die Dreigroschenoper (3).png"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('Die Dreigroschenoper (4).png', class: 'zoom img-fluid'), asset_path("Die Dreigroschenoper (4).png"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('Die Dreigroschenoper (5).png', class: 'zoom img-fluid'), asset_path("Die Dreigroschenoper (5).png"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('Die Dreigroschenoper (6).png', class: 'zoom img-fluid'), asset_path("Die Dreigroschenoper (6).png"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('Die Dreigroschenoper (7).png', class: 'zoom img-fluid'), asset_path("Die Dreigroschenoper (7).png"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('Die Dreigroschenoper (8).png', class: 'zoom img-fluid'), asset_path("Die Dreigroschenoper (8).png"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('Die Dreigroschenoper.jpg', class: 'zoom img-fluid'), asset_path("Die Dreigroschenoper.jpg"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('Die Dreigroschenoper.png', class: 'zoom img-fluid'), asset_path("Die Dreigroschenoper.png"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('RITA Donizetti (2).jpg', class: 'zoom img-fluid'), asset_path("RITA Donizetti (2).jpg"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('RITA Donizetti.jpg', class: 'zoom img-fluid'), asset_path("RITA Donizetti.jpg"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <%= link_to image_tag('Tristan Christophe Belletante.jpg', class: 'zoom img-fluid'), asset_path("Tristan Christophe Belletante.jpg"), class: 'fancybox', rel: 'ligthbox' %>
        </div>
        <!-- ##### Images Area End ##### -->

        <!-- ##### Vidéos Area Start ##### -->
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">
                <div class="album-thumb">
                    <%= image_tag('mariage_scene.jpg', class: 'zoom img-fluid') %>
                    <!-- Play Icon -->
                    <div class="play-icon">
                        <%= content_tag(:a, content_tag(:span,"", class: "icon-play-button"), href:"https://www.youtube.com/watch?v=FcCMtgzqG_c", class: "video--play--btn") %>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Vidéos Area End ##### -->
    </div>
</div>