<div class="panel single-accordion">
<h6>
    <a role="button" class="collapsed" aria-expanded="true" aria-controls="collapseThree" data-parent="#accordion" data-toggle="collapse" href="#collapseThree">Mes catégories d oeuvres
            <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
            <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
            </a>
</h6>
<div id="collapseThree" class="accordion-content collapse">
    <div class="col-12">
        <!-- Single Web Icon -->
        <table class="table table-striped table-dark mb-30 mt-30">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Nom de la catégorie</th>
                    <th scope="col">Nombre d oeuvres</th>
                </tr>
            </thead>
            <tbody>
            <% @categories.each do |cat| %>
                <tr>
                    <th scope="row"> <%= cat.id %> </th>
                    <td> <%= link_to cat.name, repertoire_path(cat), class:"post-title" %> </td>
                    <td> <%= cat.repertoires.count %> </td>
                    <td> <%= link_to 'Afficher', category_path(cat) %> </td>
                    <td> <%= link_to 'Editer', edit_category_path(cat) %> </td>
                    <td> <%= link_to 'Supprimer', cat, method: :delete, remote: true %> </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>                                    
</div>
</div>