<div class="panel single-accordion">
<h6>
    <a role="button" class="collapsed" aria-expanded="true" aria-controls="collapseTwo" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo">Liste de mes photos
            <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
            <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
            </a>
</h6>
<div id="collapseTwo" class="accordion-content collapse">
    <div class="col-12">
        <!-- Single Web Icon -->
        <table class="table table-striped table-dark mb-30 mt-30">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Date</th>
                    <th scope="col">Heure</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            <% @gigs.each do |gig| %>
                <tr>
                    <th scope="row"> <%= gig.id %> </th>
                    <td> <%= link_to gig.title, gig_path(gig), class:"post-title" %> </td>
                    <td> <%= gig.date %> </td>
                    <td> <%= gig.time %> </td>
                    <td> <%= link_to 'Supprimer',  gig,  method: :delete, data: { confirm: 'Etes vous sur de vouloir supprimer cet évènement?' } %> </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>                                    
</div>
</div>