<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(<%= asset_path 'light.jpg' %>);">
    <div class="bradcumbContent" style="background: rgba(0, 0, 0, 0.0)">
        <p>Retrouvez moi en concert</p>
        <h2>Agenda</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Blog Area Start ##### -->
<div class="blog-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9">
            <% if Gig.exists? %>
                <% @gigs.each do |gig| %>            
                    <!-- Single Post Start -->
                    <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <!-- Post Thumb -->
                        <div class="blog-post-thumb mt-30">
                        <br><br>
                            <!-- Post Date -->
                            <div class="post-date">
                                <span> <%= gig.date.to_date.day %> </span>
                                <span> <%=gig.date.to_date.month%> ‘<%=gig.date.to_date.year%> </span>
                            </div>
                        </div>

                        <!-- Blog Content -->
                        <div class="blog-content">
                            <!-- Post Title -->
                            <%= link_to gig.title, gig_path(gig), class:"post-title" %>
                            <!-- Post Meta -->
                            <div class="post-meta d-flex mb-30">
                                <p> <%= link_to "Billets", "#{gig.ticketurl}", :target => "_blank" %> </p> 
                            </div>
                            <!-- Post Excerpt -->
                            <p> <%=gig.description%> </p>
                        </div>
                    </div>
                <% end %>
            <% else %>
                <!-- Single Post Start -->
                <div class="single-blog-post mb-100 wow fadeInUp" data-wow-delay="100ms">
                    <!-- Blog Content -->
                    <div class="blog-content">
                        <!-- Post Title -->
                        <div class="post-title">
                            <h3> Votre agenda est vide pour l'instant </h3>
                        </div>
                    </div>
                </div>
            <% end %>
            </div>
        <%= render 'staticpage/sidebar' %>
        </div>
    </div>
</div>
<!-- ##### Blog Area End ##### -->