<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(<%= asset_path 'breadcumb3.jpg' %>);">
    <div class="bradcumbContent">
        <p>Retrouvez moi en concert</p>
        <h2>Agenda</h2>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Contact Area Start ##### -->
<section class="contact-area section-padding-100-0">
    <div class="container">
        <div class="row">

            <div class="col-12 col-lg-3">
                <div class="contact-content mb-100">
                    <!-- Title -->
                    <div class="contact-title mb-50">
                        <h5> <%=@gig.title%> </h5>
                    </div>

                    <!-- Single Contact Info -->
                    <div class="single-contact-info d-flex align-items-center">
                        <div class="icon mr-30">
                            <span class="icon-placeholder"></span>
                        </div>
                        <p> <%=@gig.adress%> </p>
                    </div>

                    <!-- Single Contact Info -->
                    <div class="single-contact-info d-flex align-items-center">
                        <div class="icon mr-30">
                            <span class="icon-shopping-cart"></span>
                        </div>
                        <p> <%= link_to "Billets", "#{@gig.ticketurl}", :target => "_blank" %> </p>
                    </div>

                    <!-- Single Contact Info -->
                    <div class="single-contact-info d-flex align-items-center">
                        <div class="icon mr-30">
                            <span class=" icon-eraser"></span>
                        </div>
                        <p> <%= link_to 'Supprimer cette date',  @gig,  method: :delete, data: { confirm: 'Are you sure?' } %> 
                    </div>

                    <!-- Single Contact Info -->
                    <div class="single-contact-info d-flex align-items-center">
                        <div class="icon mr-30">
                            <span class=" icon-settings-2"></span>
                        </div>
                        <p> <%= link_to "Modifier cette date", edit_gig_path(@gig) %> </p>
                    </div>

                    <!-- Contact Social Info -->
                    <div class="single-contact-info d-flex align-items-center">
                        <div class="icon mr-30">
                            <span class=" icon-share"></span>
                        </div>
                        <%= social_share_button_tag("Voyez ce livre !", :url => "https://anthonysiteweb.herokuapp.com/gig/#{@gig.id}") %>
                    </div>

                </div>
            </div>

            <div class="col-12 col-lg-9">
                <!-- ##### Google Maps ##### -->
                <div class="map-area mb-100">
                    <%=raw @gig.mapurl %>     
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="contact-content mb-100">
                    <!-- Single Contact Info -->
                    <div class="single-contact-info d-flex align-items-center">
                        <div class="icon mr-30">
                            <span class="icon-edit  "></span>
                        </div>                                                        
                        <%= @gig.description %>
                    </div>
                </div>
            </div>
        </div>




    </div>
</section>
<!-- ##### Contact Area End ##### -->