<section class="latest-albums-area section-padding-100 bg-img bg-overlay bg-fixed" style="background-image: url(<%= asset_path 'light.jpg' %>);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading style-2">
                    <h1 style="color: white">Me reconnaitre</h1>
                    <h2><%= link_to 'Galerie', gallery_index_path, {:style => 'color: #FFFFFF'} %></h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-9">
                <div class="ablums-text text-center mb-70">
                    <h3 style="color: white">Retrouvez ci-dessous un extrait de ma <%= link_to 'galerie', gallery_index_path, {:style => 'font-size: 30px; color: #FFFFFF'} %> personnelle d'images et vidéos.</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="albums-slideshow owl-carousel">
                    <!-- Single Album -->
                    <div class="single-album">
                        <%= image_tag "ant.jpg" %>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <%= image_tag "dreig2.jpg" %>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <%= image_tag "dreig3.jpg" %>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <%= image_tag "dreig5.jpg" %>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <%= image_tag "dreig6.jpg" %>
                    </div>

                    <!-- Single Album -->
                    <div class="single-album">
                        <%= image_tag "dreig8.jpg" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>