<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img bg-overlay" style="background-image: url(<%= asset_path 'curtain.jpg' %>);">
    <div class="bradcumbContent" style="background: rgba(0, 0, 0, 0.0)">
        <p>Me reconnaitre index</p>
        <h2>Gallerie</h2>
    </div>
</section> 

<!-- ##### Elements Area Start ##### -->
<section class="blog-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-12">

            <%= @galleries.each do |gal| %>
            <!-- ##### Uploaded pictures Area Start ##### -->
            <div class="accordions mb-50" id="accordion" role="tablist" aria-multiselectable="true">     
                <div class="panel single-accordion" style="background: transparent">
                    <h6 style="background: white">
                        <a role="button" class="collapsed" aria-expanded="true" aria-controls="collapseOne" data-parent="#accordion" data-toggle="collapse" href="#collapseOne"><%= gal.name %>
                                <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                </a>
                    </h6>
                    <div id="collapseOne" class="accordion-content collapse show">
                        <div class="col-12">
                            <!-- Images Area Start -->
                            <div class="row pt-5">
                            <% if gal.pictures.attached? %>
                                <% gal.pictures.each do |pic| %>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag(pic, class: 'zoom img-fluid'), pic, class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                <% end %>
                            <%else%>
                                <p>=== Il n y a pas de photos dans cette gallerie ===</p>
                            <%end%>                                
                            </div>
                            <!-- Images Area End -->
                        </div>                                    
                    </div>
                </div>
            </div>
            <!-- ##### Uploaded pictures Area End ##### -->
            <% end %>
            
            <!-- ##### Mariage Forcé Area Start ##### -->
                <div class="accordions mb-50" id="accordion" role="tablist" aria-multiselectable="true">     
                    <div class="panel single-accordion" style="background: transparent">
                        <h6 style="background: white">
                            <a role="button" class="collapsed" aria-expanded="true" aria-controls="collapseOne" data-parent="#accordion" data-toggle="collapse" href="#collapseOne">Le Mariage Forcé
                                    <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                    <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                    </a>
                        </h6>

                        <div id="collapseOne" class="accordion-content collapse show">
                            <div class="col-12">
                                <!-- Images Area Start -->
                                <div class="row pt-5">
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('anthony_mariage.jpg', class: 'zoom img-fluid'), asset_path("anthony_mariage.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('Le mariage forcé.jpg', class: 'zoom img-fluid'), asset_path("Le mariage forcé.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('Le mariage forcé (2).jpg', class: 'zoom img-fluid'), asset_path("Le mariage forcé (2).jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('mar4.jpg', class: 'zoom img-fluid'), asset_path("mar4.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('mar5.jpg', class: 'zoom img-fluid'), asset_path("mar5.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <%= link_to image_tag('mariage_scene.jpg', class: 'zoom img-fluid'), asset_path("mariage_scene.jpg"), class: 'fancybox', rel: 'ligthbox' %>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                                        <div class="single-album-area wow fadeInUp" data-wow-delay="100ms">
                                            <div class="album-thumb">
                                                <%= image_tag('mariage_scene.jpg', class: 'zoom img-fluid') %>
                                                <!-- Play Icon -->
                                                <div class="play-icon">
                                                    <%= content_tag(:a, content_tag(:span,"", class: "icon-play-button"), href:"https://www.youtube.com/watch?v=FcCMtgzqG_c", class: "video--play--btn") %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Images Area End -->
                            </div>                                    
                        </div>
                    </div>
                </div>
                <!-- ##### Mariage Forcé Area End ##### -->
            </div>
        </div>
    </div>
</section>
<!-- ***** Elements Area End ***** -->