<h2>Vous avez reçu un nouveau message de </h2>
<h3><%= @contact.name %></h3>

<br><br>

<h2>Message</h2>
<h3>Sujet : <%= @contact.subject %></h3>
<p> <%= @contact.message %> </p>

<br><br>

<h2>Coordonnées</h2>
<p> nom : <%= @contact.name %> </p>
<p> e-mail : <%= @contact.email %> </p>