<header class="header-area">
    <!-- Navbar Area -->
    <div class="oneMusic-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="oneMusicNav">

                    <!-- Nav brand -->
                    <%= link_to image_tag('signature_small.png'), root_path, class:"nav-brand" %>
            
                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li> <%= link_to "Biographie", staticpage_bio_path%> </li>
                                <li> <%= link_to "Répertoire", repertoire_index_path %> </li>
                                <li> <%= link_to "Gallerie", staticpage_gallery_path %> </li>
                                <li> <%= link_to "Agenda", gig_index_path %> </li>
                                <% if current_admin %>
                                    <li><a href="#">Profil / Déconnexion</a>
                                        <ul class="dropdown">
                                            <li> <%= link_to "Profil", edit_admin_registration_path(current_admin.id) %> </li>
                                            <li> <%= link_to "Déconnexion", destroy_admin_session_path, method: :delete %> </li>
                                            <li> <%= link_to "Espace Admin", admin_index_path %> </li>
                                        </ul>
                                    </li>
                                <% end %>
                            </ul>                       
                        </div>
                        <!-- Nav End -->

                    </div>
                </nav>

                <!-- ##### Alert Area Start ##### -->
                <%= render 'layouts/messages' %>
                <!-- ##### Alert Area End ##### -->

            </div>
        </div>
    </div>
</header>