<footer class="footer-area">
    <div class="container">
        <div class="row d-flex flex-wrap align-items-center">
            <div class="col-12 col-md-6">
                <!-- Nav brand -->
                <%= link_to image_tag('signature.png'), root_path, class:"nav-brand" %>
                <p style="font-size: 20px"  >Retrouvez-moi ici : <%= link_to (image_tag 'youtube.png'), 'https://www.youtube.com/channel/UCh8d7vvSrjxOp5bhTVRVQvg?view_as=subscriber',  target: :_blank %> <%= link_to (image_tag 'facebook.png'), 'https://www.facebook.com/anthony.rivera.3956',  target: :_blank %> <%= link_to (image_tag 'insta.png'), 'https://www.instagram.com/anthony.ri_ve_ra/',  target: :_blank %></p>
                <p class="copywrite-text">
                    <!-- Link back to Colorlib cannot be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with
                    <i class="fa fa-heart-o" aria-hidden="true"></i> by
                    <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib cannot be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <p class="copywrite-text">
                    This website uses a colorlib template and is made by flip with <%= link_to (image_tag 'ruby.png'), 'https://github.com/Flip437/tonywebsite.git',  target: :_blank %>
                </p>
            </div>

            <div class="col-12 col-md-6">
                <div class="footer-nav">
                    <ul>
                        <li>
                            <%= link_to "Biographie", staticpage_bio_path %>
                        </li>
                        <li>
                            <%= link_to "Répertoire", staticpage_repertoire_path %>
                        </li>
                        <li>
                            <%= link_to "Gallerie", staticpage_gallery_path %>
                        </li>
                        <li>
                            <%= link_to "Agenda", gig_index_path %>
                        </li>
                        <li>
                            <%= link_to "Espace Admin", admin_index_path %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>